.advantages {
  background-color: var(--bck-color);
}

.advantages__list {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    padding-top: 50px;
    padding-bottom: 85px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 34px;

  @media screen and (min-width: 1200px) {
    margin-right: 88px;
    padding-right: 18px;
  }
}

.advantages__item:first-child {
  margin-bottom: 38px;

  @media screen and (min-width: 768px) {
    margin-right: 60px;
    margin-bottom: 50px;
  }
}

.advantages__circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  transition: transform 300ms var(--animation) 40ms;
}

.advantages__circle:hover,
.advantages__circle:focus {
  transform: scale(1.1);
}

.advantages__icon {
  width: 32px;
  height: 32px;
}

.advantages__title {
  margin-bottom: 18px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 600;
}

.advantages__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  width: 308px;
}

@media screen and (min-width: 768px) {
  .advantages__section {
    margin-bottom: 100px;
  }

  .advantages__item {
    width: 308px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__section {
    height: 344px;
    margin-bottom: 128px;
  }

  .advantages__item {
    position: relative;
  }

  .advantages__line::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 325px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 124px;
  }
}
