.footer {
  background-color: var(--bck-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__title {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.48px;
  width: 300px;

  margin-bottom: 32px;

  transition: color 200ms ease-in-out 50ms;
}

.footer__title:hover,
.footer__title:focus {
  color: var(--accent-color);
}

.footer__span {
  color: var(--accent-color);

  /* transition: color 350ms ease-in-out 50ms; */
}

/* .footer__title:hover .footer__span,
.footer__title:focus .footer__span {
  color: var(--title-color);
} */

.footer__list-box {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 14px;
}

.contact__link {
  color: var(--title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;

  transition: color 350ms cubic-bezier(.12,.75,.57,.14) 50ms;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}
.footer__social-list {
  display: flex;
}
.footer__social-item:not(:last-child) {
  margin-right: 14px;
}

.footer__icon {
  width: 22px;
  height: 22px;
  fill: transparent;
  stroke: var(--title-color);

  transition: stroke 300ms cubic-bezier(.12,.75,.57,.14) 50ms;
}
.footer__icon:hover,
.footer__icon:focus {
  stroke: var(--accent-color);
}
.icon-tab {
  display: none;
}
.footer__line {
  width: 100%;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer__item {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.footer__item:hover,
.footer__item:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__info {
    display: flex;
  }
  .footer__title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.56px;

    margin-bottom: 0;
    margin-right: 124px;
  }

  .contact__container {
    margin-right: 50px;
  }

  .icon-mob {
    display: none;
  }
  .icon-tab {
    display: block;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 18px;
  }

  .footer__icon {
    width: 24px;
    height: 24px;
  }

  .footer__line {
    margin-top: 50px;
    margin-bottom: 24px;
  }
  .footer__list {
    display: flex;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    margin-right: 543px;
  }

  .contact__container {
    margin-right: 63px;
  }
}
