.hero__section {
  margin-bottom: 71px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 72px;
  }
}

.hero-box {
  padding: 395px 18px 20px 18px;
  height: 621px;

  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/hero/mobile/hero-mobile.jpg);

  border-radius: 20px;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/mobile/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 671px 38px 40px 38px;
    height: 890px;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/tablet/hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero/tablet/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 381px;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/desktop/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero/desktop/hero-desktop@2x.jpg);
    }
  }
}

.hero__title {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 484px;
    color: var(--title-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;

    margin-bottom: 39px;
  }
}

.second-br {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .first-br {
    display: none;
  }
}

.hero__btns {
  font-size: 14px;
  font-weight: 600;

  margin-bottom: 32px;
}

.buy-btn {
  width: 120px;
  height: 41px;
  margin-right: 14px;
  border-radius: 100px;
  background: var(--accent-color);
  border: none;
  font-size: 14px;
  font-weight: 600;

  color: var(--title-color);
  transition: all 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    width: 144px;
    height: 45px;
  }
}

.buy-btn:hover,
.buy-btn:focus {
  color: var(--accent-color);
  transform: scale(1.02);
  background-color: #fcf1e0;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.7);
}

.hero__made-btn {
  width: 159px;
  height: 41px;
  border-radius: 100px;
  border: 1px solid var(--title-color);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;

  color: var(--title-color);
  transition: all 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    width: 183px;
    height: 45px;
  }
}

.hero__made-btn:hover,
.hero__made-btn:focus {
  color: var(--accent-color);
  transform: scale(1.02);
  background-color: #fcf1e0;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.7);
}

.hero__scroll {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero__scroll-text {
  margin-right: 12px;
  color: var(--title-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.36px;

  transition: color 200ms var(--animation) 50ms;
}

.hero__scroll:hover .hero__scroll-text,
.hero__scroll:focus .hero__scroll-text {
  color: var(--accent-color);
}

.hero__scroll-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: var(--title-color);

  transition: all 200ms var(--animation) 50ms;
}

.hero__scroll:hover .hero__scroll-link,
.hero__scroll:focus .hero__scroll-link {
  background-color: var(--accent-color);
  transform: scale(1.07);
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.7);
}

.hero__scroll-icon {
  width: 16px;
  height: 16px;
  fill: var(--accent-color);
  stroke: var(--accent-color);

  transition: all 200ms var(--animation) 50ms;
}

.hero__scroll:hover .hero__scroll-icon,
.hero__scroll:focus .hero__scroll-icon {
  fill: var(--title-color);
  stroke: var(--title-color);
  transform: translatey(1.5px);
}

@media screen and (min-width: 768px) {
  .hero__btns-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero__scroll {
    padding-bottom: 30px;
  }

  .hero__scroll-text {
    margin-right: 14px;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
  }

  .hero__scroll-link {
    width: 38px;
    height: 38px;
  }

  .hero__scroll-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btns {
    margin-right: 585px;
  }
}

/* scroll to top */

.isShowBtn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 100;

  opacity: 1;
  transition: opacity 350ms ease-in-out 50ms;
}

.isShowBtn.isShowBtn-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero__scroll-top-icon {
  transform: rotate(180deg);
}

.hero__scroll-top-text {
  color: var(--accent-color);
}

.hero__scroll:hover .hero__scroll-top-text,
.hero__scroll:focus .hero__scroll-top-text {
  color: var(--title-color);
}

.hero__scroll-top-icon {
  width: 16px;
  height: 16px;
  fill: var(--title-color);
  stroke: var(--title-color);

  transition: all 200ms var(--animation) 50ms;

  @media screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }
}

.hero__scroll:hover .hero__scroll-top-icon,
.hero__scroll:focus .hero__scroll-top-icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.hero__scroll-top-link {
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero__scroll:hover .hero__scroll-top-link,
.hero__scroll:focus .hero__scroll-top-link {
  background-color: var(--title-color);
}
