.modal-opinions {
  width: 95%;
  padding: 32px 24px;

  background-color: #fafafa;
  border: 1px solid #fcf1e0;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    padding: 40px;
    max-width: 517px;
  }
}

.modal-opinions__title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  max-width: 255px;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    max-width: 298px;

    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .title-br {
    display: none;
  }
}

.modal-opinions__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 15px;
  right: 14px;

  border: none;
  background-color: transparent;
  fill: var(--title-color);
  padding: 8px;

  transition: all 350ms ease-in-out 50ms;

  cursor: pointer;
}

.modal-opinions__btn:hover,
.modal-opinions__btn:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.modal-opinions__close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-color);

  transition: all 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.modal-opinions__btn:hover .modal-opinions__close-icon,
.modal-opinions__btn:focus .modal-opinions__close-icon {
  stroke: var(--title-color);
  transform: scale(1.1);
}
/* ? */
.form__opinions__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 263px;

  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    gap: 19px;
    max-width: 437px;
  }
}

.form__tel-container {
  position: relative;

  @media screen and (min-width: 768px) {
    max-width: 437px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding-left: 18px;

  background-color: #fafafa;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  outline: none;
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));

  transition: border 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    height: 66px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 13px;
  }
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
  border: 1px solid var(--accent-color);
  box-shadow: none;
  transform: none;
}

.form__input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.input-phone {
  padding-left: 106px;

  @media screen and (min-width: 768px) {
    padding-left: 177px;
  }
}

.form__tel-phone {
  position: absolute;
  top: 50%;
  left: 18px;
  height: 25px;
  transform: translate(0, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
  padding-right: 8px;

  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    left: 24px;
    gap: 18px;
    height: 32px;
    padding-right: 32px;
  }
}

.form__tel-icon {
  width: 24px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 24px;
  }
}

.form__tel-text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 91px;
  padding: 14px 18px;
  outline: none;

  background-color: var(--bgd-body-clr);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;

  transition: border 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    border-radius: 13px;
  }
}

.form__textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.form__btn {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: var(--accent-color);
  border: none;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;

  transition: all 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}

.form__btn:hover,
.form__btn:focus {
  color: var(--accent-color);
  transform: scale(1.02);
  background-color: #fcf1e0;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.7);
}
