*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 5px;
}

/* modal scrollbar */
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: #fafafa;
  margin: 15px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 15px;
}
