.thanks {
  border-radius: 15px;
  background-color: var(--accent-color);

  width: 311px;
  height: 350px;

  pointer-events: none;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 516px;
    height: 414px;
  }
}

.thanks__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 15px;
  right: 14px;

  border: none;
  background-color: transparent;
  fill: var(--title-color);
  padding: 8px;

  transition: all 350ms ease-in-out 50ms;
}

.thanks__btn:hover,
.thanks__btn:focus {
  background-color: var(--title-color);
  border-radius: 50%;
}

.thanks__close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--title-color);

  transition: all 350ms ease-in-out 50ms;

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.thanks__btn:hover .thanks__close-icon,
.thanks__btn:focus .thanks__close-icon {
  stroke: var(--accent-color);
  transform: scale(1.1);
}

.thanks__text-container {
  position: absolute;
  top: 84px;
  left: 68px;

  @media screen and (min-width: 768px) {
    top: 154px;
    left: 163px;

    width: 24px;
    height: 24px;
  }
}

.thanks__title {
  color: #fcf1e0;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-transform: uppercase;

  width: 229px;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.48px;

    width: 276px;
  }
}

.thanks__text {
  font-size: 14px;
  color: var(--title-color);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.28px;
  width: 219px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
    width: 309px;
  }
}

.thanks__img {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .thanks-br {
    display: none;
  }
}

.opinions-thanks__text-container {
  top: 84px;
  left: 58px;

  @media screen and (min-width: 768px) {
    top: 163px;
    left: 170px;
  }
}
