<section class="buy-now__modal" id="buy-now">
  <div class="buy-now__modal__container" id="buy-now__modal">
    <svg>
      <use href="/img/icons/symbol-defs.svg#icon-close-modal"></use>
    </svg>
    <h2 class="buy-now__title"><span class="span">BUY</span> NOW</h2>
    <ul class="buy-now__list">
      <li class="buy-now__item">
        <div class="buy-now__product">
          <picture>
            <source
              srcset="
                /img/order/desktop/100g-desktop.png    1x,
                /img/order/desktop/100g-desktop@2x.png
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/order/mobile/100g-mobile.png    1x,
                /img/order/mobile/100g-mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="/img/order/desktop/100g-desktop.png" alt="" />
          </picture>
        </div>
        <div class="buy-now__weight">
          <p class="weight__text">100g</p>
        </div>
      </li>
      <li class="buy-now__item">
        <div class="buy-now__product">
          <picture>
            <source
              srcset="
                /img/order/desktop/200g-desktop.png    1x,
                /img/order/desktop/200g-desktop@2x.png
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/order/mobile/200g-mobile.png    1x,
                /img/order/mobile/200g-mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="/img/order/desktop/200g-desktop.png" alt="" />
          </picture>
        </div>
        <div class="buy-now__weight">
          <p class="weight__text">200g</p>
        </div>
      </li>
      <li class="buy-now__item">
        <div class="buy-now__product">
          <picture>
            <source
              srcset="
                /img/order/desktop/300g-desktop.png    1x,
                /img/order/desktop/300g-desktop@2x.png
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/order/mobile/300g-mobile.png    1x,
                /img/order/mobile/300g-mobile@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="/img/order/desktop/300g-desktop.png" alt="" />
          </picture>
        </div>
        <div class="buy-now__weight">
          <p class="weight__text">300g</p>
        </div>
      </li>
    </ul>
    <form action="" class="buy-now__form">
      <div class="personal-info">
        <label class="personla-info__label">
          <span class="personla-info__title">Personal information</span>
          <input
            class="personal-info__input"
            type="text"
            placeholder="Name"
            required
          />
          <input
            class="personal-info__input"
            type="text"
            placeholder="Surname"
            required
          />
        </label>
      </div>
      <div class="email__field">
        <label class="email__field">
          <span class="email__field">Email</span>
          <input
            class="email__field"
            type="email"
            placeholder="Enter you email"
            required
          />
        </label>
      </div>
      <div class="phone__field">
        <label class="phone__field">
          <span class="phone__field">Phone number</span>
          <input
            class="phone__field"
            type="tel"
            placeholder="Phone number"
            pattern="^[ 0-9]+$"
            title="+38 (000) 000-00-00"
            required
          />
        </label>
        <svg>
          <use href="/src/img/icons/symbol-defs.svg#icon-flag"></use>
        </svg>
      </div>
      <div class="card__field">
        <label class="card__field">
          <span class="card__field">Card</span>
          <input
            class="card__field"
            type="tel"
            placeholder="Enter card"
            required
          />
        </label>
        <svg>
          <use href="/src/img/icons/symbol-defs.svg#icon-card"></use>
        </svg>
      </div>
      <div class="comment__field">
        <label class="comment__field">
          <span class="comment__field">Comment</span>
          <textarea
            class="comment__field"
            placeholder="Enter text"
            name="Comment"
            id=""
            cols="30"
            rows="3"
          ></textarea>
        </label>
      </div>
      <button class="buy-now__btn"><a href="#thanks__popup"></a>Submit</button>
    </form>
  </div>
</section>
