<header>
    <div class="container">
        <div class="header__div">
            <a class="header__logo"> <span class="span__italic">SIMPLY </span> CHOCOLATE
            </a>
                <svg class="logo-icon-mob logo-icon" width="21" height="21">
                    <use href="./img/icons/symbol-defs.svg#chocolate-logo-mobile">
                    </use>
                </svg>
                <svg class="logo-icon-tab logo-icon">
                    <use href="./img/icons/symbol-defs.svg#chocolate-logo-tablet">
                    </use>
                </svg>

            <ul class="header__list">
                <li class="header__item">
                    <a href="#hero" class="list__link">Home</a>
                </li>
                <li class="header__item">
                    <a href="#made" class="list__link">How it’s made?</a>
                </li>
                <li class="header__item">
                    <a href="#products" class="list__link">Our products</a>
                </li>
                <li class="header__item">
                    <a href="#sellers" class="list__link">Top sellers</a>
                </li>
                <li class="header__item">
                    <a href="#opinions" class="list__link">Chocolate is loved</a>
                </li>
            </ul>
            <ul class="social__list">
                <li class="social__item">
                    <svg class="social__icon">
                        <use href="/img/icons/symbol-defs.svg#icon-instagram-mobile">
                        </use>
                    </svg>
                </li>
                <li class="social__item">
                    <svg class="social__icon">
                        <use href="/img/icons/symbol-defs.svg#icon-twitter-mobile">
                        </use>
                    </svg>
                </li>
            </ul>
            <!-- menu -->
            <button class="mobile-menu__open-btn" type="button" data-menu-button>
                <svg class="open__icon open-mob">
                    <use href="/img/icons/symbol-defs.svg#icon-menu-button-mob">
                    </use>
                </svg>
            </button>
            <button class="mobile-menu__open-btn" type="button" data-menu-button>
                <svg class="open__icon open-tab">
                    <use href="/img/icons/symbol-defs.svg#icon-menu-button-tab">
                    </use>
                </svg>
            </button>
        </div>
    </div>

    <!-- <div class="mobile-menu" data-menu>
        <div class="mobile-menu__container">
            <button class="mobile-menu__close-btn" type="button" data-menu-close>
                <svg class="menu-modal__close__icon">
                    <use href="./img/icons/symbol-defs.svg#icon-close-button"></use>
                </svg>
            </button>

            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="#hero" class="mobile-menu__link">Home</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#made" class="mobile-menu__link">How it’s made?</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#products" class="mobile-menu__link">Our products</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#sellers" class="mobile-menu__link">Top sellers</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#opinions" class="mobile-menu__link">Chocolate is loved</a>
                </li>
            </ul>
            <ul class="mobile-menu__social__list">
                <li class="mobile-menu__social__item">
                    <svg class="mobile-menu__social__icon">
                        <use href="/img/icons/symbol-defs.svg#icon-instagram-mobile">
                        </use>
                    </svg>
                </li>
                <li class="mobile-menu__social__item">
                    <svg class="mobile-menu__social__icon">
                        <use href="/img/icons/symbol-defs.svg#icon-twitter-mobile">
                        </use>
                    </svg>
                </li>
            </ul>
        </div>
    </div> -->
</header>