<section class="hero__section" id="hero">
    <div class="container">
      <div class="hero-box">
        <h1 class="hero__title">
          Treat yourself or a loved one to our finest ingredients for a moment of
          pure delight!
        </h1>
        <div class="hero__btns-box">
          <div class="hero__btns">
            <button class="hero__btn buy-btn" type="button">
              <a href="#buy-now" class="buy-btn__link">Buy now</a>
            </button>
            <button class="hero__made-btn" type="button">
              <a href="#made" class="made-btn__link">How it’s made</a>
            </button>
          </div>
          <div class="hero__scroll">
            <p class="hero__scroll-text">scroll down</p>
            <button type="button" class="hero__scroll-btn">
              <a href="#footer" class="hero__scroll-link">
                <svg class="hero__scroll-icon">
                  <use
                    href="./img/icons/symbol-defs.svg#icon-scroll-button"
                  ></use>
                </svg>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>