<section class="hero__section" id="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero__title">
        Treat yourself or a loved one <br class="first-br" />
        to <br class="second-br" />
        our finest ingredients for a moment of pure delight!
      </h1>
      <div class="hero__btns-box">
        <div class="hero__btns">
          <button
            class="hero__btn buy-btn js-open-modal"
            type="button"
            data-modal="1"
          >
            Buy now
          </button>
          <button class="hero__made-btn" type="button">
            How it’s made
            <!-- <a href="#made" class="made-btn__link hero__made-btn"></a> -->
          </button>
        </div>

        <div class="hero__scroll">
          <p class="hero__scroll-text">scroll down</p>
          <a href="#footer" class="hero__scroll-link">
            <svg class="hero__scroll-icon">
              <use href="./img/icons/symbol-defs.svg#icon-scroll-button"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- scroll to to -->
    <div class="isShowBtn isShowBtn-hide">
      <div class="hero__scroll">
        <p class="hero__scroll-text hero__scroll-top-text">scroll top</p>
        <a class="hero__scroll-link hero__scroll-top-link">
          <svg class="hero__scroll-top-icon">
            <use href="./img/icons/symbol-defs.svg#icon-scroll-button"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
