<section class="ingredients section">
  <div class="container">
    <div class="ingredients__text-box">
      <h2 class="ingredients__title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="span-title">TASTE</span> SENSATION
      </h2>
      <p class="ingredients__text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="ingredients__list">
      <li class="ingredients__item">
        <div class="ingredients__front ingredients__front-orange">
          <!-- ! -->
          <picture>
            <source
              srcset="
                /img/ingredient/desktop/choco-desktop.png    1x,
                /img/ingredient/desktop/choco-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingredient/mobile/choco-mobile.png     1x,
                /img/ingredient/mobile/choco-desktop@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/ingredient/desktop/choco-desktop.png"
              alt="chocolate"
              class="ingredients__img"
            />
          </picture>
          <h3 class="ingredients__item-title">MILK CHOCOLATE</h3>
        </div>

        <div class="ingredients__hover">
          <div class="ingredients__hover-container">
            <h3 class="ingredients__hover-title">Milk chocolate</h3>
            <div class="ingredients__hover-btns">
              <button type="button" class="ingredients__btn-orange">
                chocolate
              </button>
              <button type="button" class="ingredients__btn-white">
                the benefits
              </button>
            </div>
            <div class="ingredients__text-box">
              <button class="ingredients__hover-text morebtn">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. <span class="dots">...</span>
                <span class="desktop-span more"
                  >Although four-fifths of all milk chocolate is sold in the
                  United States and Europe, increasingly large
                  <span class="mobile-span"
                    >amounts are consumed in China and Latin America.</span
                  >
                </span>
              </button>
              <p class="ingredients__hover-benefit">
                The benefits of using milk chocolate in chocolates lies in its
                velvety smoothness and rich, indulgent taste. The presence of
                milk powder or condensed milk creates a luxurious texture,
                making the chocolate melt in your mouth. This blend of cocoa and
                milk not only enhances the flavor but also ensures a delightful
                experience for chocolate enthusiasts
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ingredients__item">
        <div class="ingredients__front ingredients__front-transparent">
          <!-- !  -->
          <picture>
            <source
              srcset="
                /img/ingredient/desktop/milk-desktop.png    1x,
                /img/ingredient/desktop/milk-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingredient/mobile/milk-mobile.png     1x,
                /img/ingredient/mobile/milk-desktop@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/ingredient/desktop/milk-desktop.png"
              alt="milk"
              class="ingredients__img"
            />
          </picture>
          <h3 class="ingredients__item-title">MILK</h3>
        </div>

        <div class="ingredients__hover">
          <div class="ingredients__hover-container">
            <h3 class="ingredients__hover-title">Milk</h3>
            <div class="ingredients__hover-btns">
              <button type="button" class="ingredients__btn-orange">
                milk
              </button>
              <button type="button" class="ingredients__btn-white">
                the benefits
              </button>
            </div>
            <div class="ingredients__text-box">
              <button class="ingredients__hover-text morebtn">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food. Early-lactation milk,
                <span class="dots">...</span
                ><span class="desktop-span more"
                  >which is called colostrum, contains antibodies that
                  strengthen the immune system,
                  <span class="mobile-span"
                    >and thus reduces the risk of many diseases. Milk contains
                    many nutrients, including protein and lactose.</span
                  >
                </span>
              </button>
              <p class="ingredients__hover-benefit">
                The inclusion of milk from young mammals in chocolates offers a
                unique richness and creaminess. This fresh milk imparts a
                delicate flavor, elevating the overall taste experience of the
                chocolate. Incorporating this ingredient ensures a smooth and
                delectable texture.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ingredients__item">
        <div class="ingredients__front ingredients__front-purple">
          <!-- ! -->
          <picture>
            <source
              srcset="
                /img/ingredient/desktop/nut-desktop.png    1x,
                /img/ingredient/desktop/nut-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingredient/mobile/nut-mobile.png     1x,
                /img/ingredient/mobile/nut-desktop@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/ingredient/desktop/nut-desktop.png"
              alt="nut"
              class="ingredients__img"
            />
          </picture>
          <h3 class="ingredients__item-title">NUTS</h3>
        </div>

        <div class="ingredients__hover">
          <div class="ingredients__hover-container">
            <h3 class="ingredients__hover-title">Nuts</h3>
            <div class="ingredients__hover-btns">
              <button type="button" class="ingredients__btn-orange">
                nuts
              </button>
              <button type="button" class="ingredients__btn-white">
                the benefits
              </button>
            </div>
            <div class="ingredients__text-box">
              <button class="ingredients__hover-text morebtn">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source
                <span class="dots">...</span
                ><span class="desktop-span more"
                  >of fiber, healthy fats, and plant protein. Plus, they’re
                  great on their own, paired with
                  <span class="mobile-span"
                    >fruit, or added to dishes like salads, desserts, and
                    grains.</span
                  >
                </span>
              </button>
              <p class="ingredients__hover-benefit">
                Incorporating nuts into chocolates adds a delightful crunch and
                depth of flavor. Nuts provide a natural source of protein and
                healthy fats, making the chocolate snack more satisfying and
                nutritious. Their texture enhances the overall sensory
                experience, offering a perfect balance to the sweetness of the
                chocolate.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ingredients__item">
        <div class="ingredients__front ingredients__front-transparent">
          <!-- ! -->
          <picture>
            <source
              srcset="
                /img/ingredient/desktop/semi-desktop.png    1x,
                /img/ingredient/desktop/semi-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingredient/mobile/semi-mobile.png     1x,
                /img/ingredient/mobile/semi-desktop@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/ingredient/desktop/choco-desktop.png"
              alt="semi"
              class="ingredients__img"
            />
          </picture>
          <h3 class="ingredients__item-title">SEMI - SWEET CHOCOLATE</h3>
        </div>
        <div class="ingredients__hover">
          <div class="ingredients__hover-container">
            <h3 class="ingredients__hover-title">semi - sweet chocolate</h3>
            <div class="ingredients__hover-btns">
              <button type="button" class="ingredients__btn-orange">
                sweet chocolate
              </button>
              <button type="button" class="ingredients__btn-white">
                the benefits
              </button>
            </div>
            <div class="ingredients__text-box">
              <button class="ingredients__hover-text morebtn">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of
                <span class="dots">...</span
                ><span class="desktop-span more"
                  >chocolate. Semisweet is darker than milk chocolate. In a
                  taste comparison, it has a slightly bitter taste whereas milk
                  chocolate is sweeter and
                  <span class="mobile-span"
                    >more mellow. This delectable flavor of chocolate is very
                    versatile.</span
                  >
                </span>
              </button>
              <p class="ingredients__hover-benefit">
                Semi-sweet chocolate, with its moderate sweetness, strikes a
                perfect balance between indulgence and flavor. It offers a deep
                cocoa taste that complements a wide range of ingredients and
                allows them to shine. This versatility makes semi-sweet
                chocolate a popular choice for confections.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
