<section class="opinions section" id="opinions">
  <div class="container">
    <h2 class="opinions__title">
      <span class="span-title"> chocolate </span>
      is loved
    </h2>
    <div class="opinions-swiper">
      <ul class="opinions__list swiper-wrapper">
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/victoria/victoria.png    1x,
              /img/opinions/victoria/victoria@2x.png 2x
            "
            src="/img/opinions/victoria/victoria.png"
            alt="worker 1"
            class="opinions__img"
          />
          <h2 class="opinions__name">Victoria Dobrzhanska</h2>
          <p class="opinions__text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/nazar/nazar.png    1x,
              /img/opinions/nazar/nazar@2x.png 2x
            "
            src="/img/opinions/nazar/nazar.png"
            alt="worker 1"
            class="opinions__img"
          />
          <h2 class="opinions__name">Nazar Babenko</h2>
          <p class="opinions__text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/olena/olena.png    1x,
              /img/opinions/olena/olena@2x.png 2x
            "
            src="/img/opinions/olena/olena.png"
            alt="worker 3"
            class="opinions__img"
          />
          <h2 class="opinions__name">Olena Kampusch</h2>
          <p class="opinions__text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/natalia/natalia.png    1x,
              /img/opinions/natalia/natalia@2x.png 2x
            "
            src="/img/opinions/natalia/natalia.png"
            alt="worker 4"
            class="opinions__img"
          />
          <h2 class="opinions__name">Natalia Sus</h2>
          <p class="opinions__text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/danilo/danilo.png    1x,
              /img/opinions/danilo/danilo@2x.png 2x
            "
            src="/img/opinions/danilo/danilo.png"
            alt="worker 5"
            class="opinions__img"
          />
          <h2 class="opinions__name">Danilo Nottingham</h2>
          <p class="opinions__text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="opinions__item swiper-slide">
          <img
            srcset="
              /img/opinions/irina/irina.png    1x,
              /img/opinions/irina/irina@2x.png 2x
            "
            src="/img/opinions/irina/irina.png"
            alt="worker 6"
            class="opinions__img"
          />
          <h2 class="opinions__name">Irina Tydnyuk</h2>
          <p class="opinions__text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>

    <button class="opinions__btn">Leave a review</button>
  </div>
</section>
