<div class="opinions__modal">
    <div class="opinions__modal-container">
        <h2 class="opinions__modal-title">
            <span>
                LEAVE A REVIEW
            </span>

            <span class="opinions__modal-wraper">
                ABOUT
                <span class="span">
                    OUR CHOCOLATE
                </span>
            </span>

        </h2>
        <button class="opinions__btn-close">
            <svg class="opinions__close-icon">
                <use href="./images/icons/symbol-defs.svg#icon-close-button"></use>

            </svg>
        </button>
        <form class="opinions__form">
            <input class="opinions__input" type="text" placeholder="Name">
            <input class="opinions__input" type="text" placeholder="Email">
            <input class="opinions__input " type="text" placeholder="Phone number">
            <div class="opinions__tel-div">
                <div class="opinions__tel-div-2">
                    <label class="opinions__label" for>+380</label>
                </div>


            </div>
            <textarea class="opinions__textarea" placeholder="Enter text"></textarea>
            <button type="submit" class="opinions__send-button">Send</button>
        </form>
    </div>
</div>
