<section class="sellers section" id="sellers">
  <div class="container">
    <h2 class="sellers__title">
      <span class="span-title"> TOP </span> SELLERS
    </h2>
    <ul class="sellers__list">
      <li class="sellers__item">
        <div class="sellers__item__header">
          <picture>
            <source
              srcset="
            /img/top-sellers/desktop/1-desktop.jpg   1x,
            /img/top-sellers/desktop/1-desktop.jpg @2x.jpg 2x
          "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
        /img/top-sellers/tablet/1-tablet.jpg   1x,
        /img/top-sellers/tablet/1-tablet.jpg @2x.jpg 2x
      "
              media="(min-width: 375px)"
            />
            <img src="/img/top-sellers/desktop/1-desktop.jpg" alt="" />
          </picture>
        </div>
        <div class="sellers__item__footer">
          <p class="sellers__text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="sellers__item">
        <div class="sellers__item__header">
          <picture>
            <source
              srcset="
            /img/top-sellers/desktop/2-desktop.jpg   1x,
            /img/top-sellers/desktop/2-desktop.jpg @2x.jpg 2x
          "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
        /img/top-sellers/tablet/2-tablet.jpg   1x,
        /img/top-sellers/tablet/2-tablet.jpg @2x.jpg 2x
      "
              media="(min-width: 375px)"
            />
            <img src="/img/top-sellers/desktop/2-desktop.jpg" alt="" />
          </picture>
        </div>
        <div class="sellers__item__footer">
          <button class="buy__btn" type="button">
            <a href="#buy-now__modal">Buy now</a>
          </button>
        </div>
      </li>
      <li class="sellers__item">
        <div class="sellers__item__header">
          <picture>
            <source
              srcset="
            /img/top-sellers/desktop/3-desktop.jpg   1x,
            /img/top-sellers/desktop/3-desktop.jpg @2x.jpg 2x
          "
              media="(min-width: 1200px)"
            />
            <img src="/img/top-sellers/desktop/3-desktop.jpg" alt="" />
          </picture>
        </div>
        <div class="sellers__item__footer">
          <button class="buy__btn" type="button">
            <a href="#buy-now__modal">Buy now</a>
          </button>
        </div>
      </li>
    </ul>
    <div class="sellers__info">
      <p class="sellers__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="buy__btn" type="button" data-buy-now-modal-open>
        Buy now
      </button>
    </div>
  </div>
</section>

