<!-- buy-now thanks -->
<div class="thanks modal pop-up_buy-now" data-modal="4">
  <button class="thanks__btn js-modal-close" type="button">
    <svg class="thanks__close-icon">
      <use href="/img/icons/symbol-defs.svg#icon-close-modal"></use>
    </svg>
  </button>

  <div class="thanks__text-container">
    <h2 class="thanks__title">thank you!</h2>
    <p class="thanks__text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      thanks on all our products.
    </p>
  </div>

  <picture>
    <source
      media="(min-width: 768px)"
      srcset="
        /img/thanks/desktop/thanks-desktop.png    1x,
        /img/thanks/desktop/thanks-desktop@2x.png 2x
      "
    />
    <source
      media="(min-width: 375px)"
      srcset="
        /img/thanks/mobile/thanks-mobile.png    1x,
        /img/thanks/mobile/thanks-mobile@2x.png 2x
      "
    />
    <img
      src="/img/thanks/desktop/thanks-desktop.png"
      alt="Chocolate Photo"
      class="thanks__img"
    />
  </picture>
</div>

<!-- opinions thanks -->
<div class="thanks modal pop-up_opinions" data-modal="5">
  <button class="thanks__btn js-modal-close" type="button">
    <svg class="thanks__close-icon">
      <use href="/img/icons/symbol-defs.svg#icon-close-modal"></use>
    </svg>
  </button>

  <div class="thanks__text-container opinions-thanks__text-container">
    <h2 class="thanks__title">
      thank you <br />
      for your feedback!
    </h2>
    <p class="thanks__text">
      We are so happy to hear <br class="thanks-br" />
      from you!
    </p>
  </div>

  <picture>
    <source
      media="(min-width: 768px)"
      srcset="
        /img/thanks/desktop/thanks-desktop.png    1x,
        /img/thanks/desktop/thanks-desktop@2x.png 2x
      "
    />
    <source
      media="(min-width: 375px)"
      srcset="
        /img/thanks/mobile/thanks-mobile.png    1x,
        /img/thanks/mobile/thanks-mobile@2x.png 2x
      "
    />
    <img
      src="/img/thanks/desktop/thanks-desktop.png"
      alt="Chocolate Photo"
      class="thanks__img"
    />
  </picture>
</div>
